.calendar-view {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}

.month-box {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#left-month-button {
    margin-right: 24px;
    font-weight: 100;
}
#right-month-button {
    margin-left: 24px;
    font-weight: 100;
}
