.header-container {
    display: flex;
    flex-direction: row;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    color: navy;
    
   
}

#logo {
    width: 133px;
    height: 133px;
}
